env_gen_adventure/
gen-adventure/__pycache__/
game.py
.env
story_imaginator_original.py
test.py
ballerina.csv
deadpool.csv
detective.csv
hacker.csv
pages_csv_old.py
test.ipynb
story_imaginator_csv_old.py
instructions_csv_old.txt
adventure_csv_old.py
formatura.json
hacker.json
old_files/
fantasy.json
love_story.json